{% if events_day|length > 0 %}

	
	{% for hour in 9..24 %}
	  	
	      <div class="hourblock {% if continuous_events|length > 0 %} with-continuous {% endif %}" id="hour-{{ hour }}">
				<div class="row">
					<div class="col-md-5">
						<div class="meta">
				  			<div class="hour">{{ hour }}:00 <span></span></div>
						</div>
					</div>
				</div>
	      </div>

	    {% set events = events_day[hour] %}
		{% set films = [] %}

		{% for event in events %}
			{% if 'Film' in event.post.terms('categorie') %}
				{% set films = films|merge([event]) %}
			{% else %}
				{% set catje = event.post.terms('categorie')|first|lower %}
				{% include ['tease-'~event.post.post_type~'.twig', 'tease.twig'] %}
			{% endif %}
		{% endfor %}


  		{% if films|length > 0 %}
			{% include ['partials/moviebox.twig'] %}
  		{% endif %}
    
    

  {% endfor %}

{% endif %}