{% if evenementen|length > 0 %}
{% set the_hour_shown = false %}
  {% for post in evenementen %}
    {% set catje = post.terms('categorie') | first | lower %}
    {% set catjebron = post.terms('categorie') %}
    {% for item in catjebron %}
      {% if item == 'Film' %}
        {% set catje = 'film' %}
      {% endif %}
    {% endfor %}
    {% if the_hour != post.custom.begintijd|date("H") %}
      {% set the_hour = post.custom.begintijd|date("H") %}
      {% set showmoviebox = 'true' %}
      <div class="hourblock">
        <div class="row">
          <div class="col-md-5">
            <div class="meta">
            
            {% if post.custom.doorlopend_event == 0 or the_hour_shown == false %}
              <div class="hour">{% if post.custom.doorlopend_event_timestart %} {{post.custom.doorlopend_event_timestart}}{% else %}{{ the_hour }}{% endif %}:00 <span></span></div>
              {% set the_hour_shown = true %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if (catje == 'film') and (showmoviebox == 'true') %}
      {% include ['partials/moviebox.twig'] %}
      {% set showmoviebox = 'false' %}
    {% elseif catje != 'film' %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endif %}
  {% endfor %}
{% else %}
  <div class="dh_no_hits">
    <article>
      <div class="row">
        <div class="col-md-5">
          <div class="meta">
            <div class="hour">
              <span> </span>
            </div>
          </div>
        </div>
        <div class="col-md-14">
          <h3 style="margin-top: -10px;">Geen evenementen</h3>
        </div>
      </div>
    </article>
  </div>
{% endif %}