<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
  <div class="row">
    <div class="col-md-5">
      <div class="meta">
        <div class="caticon">{% include theme.url ~ '/templates/partials/svg/film.svg.twig' %}</div>
      </div>
    </div>
    <div class="col-md-15">
      <div class="moviebox">
        <div class="body">
          <h2> {% if currentlanguage == 'en' %}To the movies{% else %}Naar de film {% endif %} </h2>
          <div class="row">
            {% for post in evenementen %}
              {% if (post.terms('categorie')|first == 'Film') and (the_hour == post.custom.begintijd|date("H")) %}
                <div class="col-md-10 col-xl-6">
                  {% include ['tease-film.twig'] %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="buttons">
          <a href="{% if currentlanguage == 'en' %}/en{% endif %}/aanbod/de-filmhallen/" class="location condensed"> <i class="fal fa-map-marker-alt"></i> De filmhallen</a>
          <a href="https://www.filmhallen.nl/" target="_blank" class="tickets"> {% if currentlanguage == 'en' %}All movies{% else %}Alle films {% endif %} <i class="fal fa-arrow-circle-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
</article>