<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <form class="form-inline post-password-form" action="{{ site.link }}/wp-login.php?action=postpass" method="post">
          <p>{% if options.passwordtext %}
          {{ options.passwordtext }}
          {% endif %}
          </p>
          <div class="row" style="width: 100%;">
            <div class="col">
              <label for="pwbox-{{ post.id }}" class="sr-only">Wachtwoord</label>
              <input name="post_password" id="pwbox-{{ post.id }}" type="password" maxlength="20" class="form-control" placeholder="Wachtwoord" style="width: 100%">
            </div>
            <div class="col-auto">
              <button type="submit" clname="Submit" class="btn btn-sm btn-primary mb-2">OK</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 