.mod-aanbodkaart {
  .row {
    min-height: 20px;
    .hbar {
      height: 6px;
      background: $grey;
      position: absolute;
      top: 50%;
      left: 0;
      right: -40px;
      margin-top: -3px;
      transition: 0.3s ease-in-out;
    }
    .vbar {
      width: 6px;
      background: $grey;
      position: absolute;
      top: -46px;
      right: -40px;
      bottom: 50%;
      transition: 0.3s ease-in-out;
    }
    .center {
      .hbar {
        left: 50%;
      }
    }
  }
  .block {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    &:hover, &.active, &.active:hover {
      opacity: 1;
    }
  }
  .block.business {
    color: $color1;
    border: 2px solid $color1;
    &.active {
      background: $color1;
      color: #fff;
    }
  }
  .block.entertainment {
    color: $color2;
    border: 2px solid $color2;
    &.active {
      background: $color2;
      color: #fff;
    }
  }
  .block.horeca {
    color: $color3;
    border: 2px solid $color3;
    &.active {
      background: $color3;
      color: #fff;
    }
  }
  .block.shops {
    color: $color4;
    border: 2px solid $color4;
    &.active {
      background: $color4;
      color: #fff;
    }
  }
  .block.kunst {
    color: $color5;
    border: 2px solid $color5;
    &.active {
      background: $color5;
      color: #fff;
    }
  }
  .top {
    position: relative;
    height: 90px;
    border-bottom: 2px solid $grey;
    div {
      display: block;
      font-size: 16px;
      color: $grey;
      text-align: center;
      line-height: 20px;
      position: relative;
      &:after {
        content: '';
        height: 6px;
        width: 96px;
        position: absolute;
        background: $grey;
        bottom: -10px;
        left: 50%;
        margin-left: -48px;
        transition: 0.3s ease-in-out;
      }
    }
    &:after {
      content: '';
      width: 5px;
      background: $grey;
      position: absolute;
      top: 50px;
      bottom: -36px;
      left: 50%;
      margin-left: -3px;
      transition: 0.3s ease-in-out;
    }
  }
  .middle {
    min-height: 80px;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    span {
      display: block;
      width: 180px;
      font-size: 16px;
      color: #d1d3d4;
      text-align: right;
      line-height: 20px;
      position: absolute;
      right: 50%;
      margin-right: 20px;
      top: 50%;
      margin-top: -10px;
    }
  }
  .bottom {
    height: 60px;
    border-top: 2px solid $grey;
    span {
      display: block;
      font-size: 16px;
      color: #d1d3d4;
      text-align: center;
      line-height: 20px;
      position: relative;
      padding-top: 30px;
    }
    &:after {
      content: '';
      width: 6px;
      background: $grey;
      position: absolute;
      top: -43px;
      height: 70px;
      left: 50%;
      margin-left: -3px;
      transition: 0.3s ease-in-out;
    }
  }
  .space {
    margin-bottom: 30px;
    .row {
      margin: 0;
      .col {
        padding: 0;
      }
    }
    .row {
      &.active {
        &.business {
          .col:after,
          .top div:after {
            background: $color1;
          }
        }
        &.entertainment {
          .col:after,
          .top div:after {
            background: $color2;
          }
        }
        &.horeca {
          .col:after,
          .top div:after {
            background: $color3;
          }
        }
        &.shops {
          .col:after,
          .top div:after {
            background: $color4;
          }
        }
        &.kunst {
          .col:after,
          .top div:after {
            background: $color5;
          }
        }
        &.links {
          &.business {
            .col {
              .bar.links {
                background: $color1;
                .circle {
                  border-color: $color1;
                }
              }
            }
          }
          &.entertainment {
            .col {
              .bar.links {
                background: $color2;
                .circle {
                  border-color: $color2;
                }
              }
            }
          }
          &.horeca {
            .col {
              .bar.links {
                background: $color3;
                .circle {
                  border-color: $color3;
                }
              }
            }
          }
          &.shops {
            .col {
              .bar.links {
                background: $color4;
                .circle {
                  border-color: $color4;
                }
              }
            }
          }
          &.kunst {
            .col {
              .bar.links {
                background: $color5;
                .circle {
                  border-color: $color5;
                }
              }
            }
          }
        }
        &.rechts {
          &.business {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $color1;
                .circle {
                  border-color: $color1;
                }
              }
            }
          }
          &.entertainment {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $color2;
                .circle {
                  border-color: $color2;
                }
              }
            }
          }
          &.horeca {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $color3;
                .circle {
                  border-color: $color3;
                }
              }
            }
          }
          &.shops {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $color4;
                .circle {
                  border-color: $color4;
                }
              }
            }
          }
          &.kunst {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $color5;
                .circle {
                  border-color: $color5;
                }
              }
            }
          }
        }
      }
      .block {
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 20px;
        transition: 0.3s ease-in-out;
        &.links {
          margin-left: 20px;
        }
        &.rechts {
          margin-right: 20px;
        }
      }
      .col.left {
        border-left: 2px solid $grey;
      }
      .col.right {
        border-right: 2px solid $grey;
      }
      .col.middle:nth-child(0) {
        border-left: 2px solid transparent;
      }
      .col.middle:nth-child(2) {
        border-right: 2px solid transparent;
      }
      .center {
        position: relative;
        &:after {
          content: '';
          width: 6px;
          background: $grey;
          position: absolute;
          top: -43px;
          bottom: 43px;
          left: 50%;
          margin-left: -3px;
          transition: 0.3s ease-in-out;
        }
        &.middle {
          &:after {
            top: -45px;
            bottom: 41px;
            margin-left: -2px;
          }
        }
      }
      .col {
        .bar {
          position: absolute;
          top: 50%;
          height: 6px;
          margin-top: -12px;
          background: $grey;
          transition: 0.3s ease-in-out;
          .circle {
            border: 6px solid $grey;
            border-radius: 100px;
            height: 26px;
            width: 26px;
            position: absolute;
            top: 50%;
            margin-top: -13px;
            background: #fff;
            transition: 0.3s ease-in-out;
          }
          &.links {
            left: 30px;
            right: 50%;
            .circle {
              left: 0;
            }
          }
          &.rechts {
            left: 50%;
            right: 30px;
            .circle {
              right: 0;
            }
          }
        }
      }
      .col.right {
        .bar {
          left: 100%;
          margin-left: -12px;
          right: -42px;
        }
      }
    }
  }
}