.mod-aanbodkaart {
  .row {
    min-height: 20px;
    .hbar {
      height: 6px;
      background: lighten($green, 30%);
      position: absolute;
      top: 50%;
      left: 0;
      right: -40px;
      margin-top: -4px;
      transition: 0.3s ease-in-out;
    }
    .vbar {
      width: 6px;
      background: lighten($green, 30%);
      position: absolute;
      top: 25px;
      right: -40px;
      bottom: -40px;
      transition: 0.3s ease-in-out;
      &.boven {
        top: -60px;
        bottom: calc(50% + 10px)
      }
    }
    .center {
      .hbar {
        left: 50%;
      }
    }
    &:first-child {
      .col {
        border-top: 0;
        &.center.middle:after {
          display: none;
        }
      }
    }
  }
  .block {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    &.opacity1, &:hover, &.active, &.active:hover {
      opacity: 1;
    }
  }
  .block.business, .block.business-en {
    background: $green;
    color: #fff;
    &.active {
      background: $darkblue;
      color: #fff;
      &:hover {
        background: darken($darkblue, 10%);
        border-color: darken($darkblue, 10%);
      }
    }
  }
  .block.entertainment, .block.entertainment-en {
    background: $green;
    color: #fff;
    &.active {
      background: $darkblue;
      color: #fff;
      &:hover {
        background: darken($darkblue, 10%);
        border-color: darken($darkblue, 10%);
      }
    }
  }
  .block.horeca, .block.eat-sleep {
    background: $green;
    color: #fff;
    &.active {
      background: $darkblue;
      color: #fff;
      &:hover {
        background: darken($darkblue, 10%);
        border-color: darken($darkblue, 10%);
      }
    }
  }
  .block.shops, .block.shops-en {
    background: $green;
    color: #fff;
    &.active {
      background: $darkblue;
      color: #fff;
      &:hover {
        background: darken($darkblue, 10%);
        border-color: darken($darkblue, 10%);
      }
    }
  }
  .block.cultuur, .block.culture {
    background: $green;
    color: #fff;
    &.active {
      background: $darkblue;
      color: #fff;
      &:hover {
        background: darken($darkblue, 10%);
        border-color: darken($darkblue, 10%);
      }
    }
  }
  .top {
    position: relative;
    height: 90px;
    border-bottom: 2px solid lighten($green, 30%);
    div {
      display: block;
      font-size: 16px;
      color: lighten($green, 30%);
      text-align: center;
      line-height: 20px;
      position: relative;
      &:after {
        content: '';
        height: 6px;
        width: 96px;
        position: absolute;
        background: lighten($green, 30%);
        bottom: -10px;
        left: 50%;
        margin-left: -48px;
        transition: 0.3s ease-in-out;
      }
    }
    &:after {
      content: '';
      width: 5px;
      background: lighten($green, 30%);
      position: absolute;
      top: 50px;
      bottom: -36px;
      left: 50%;
      margin-left: -3px;
      transition: 0.3s ease-in-out;
    }
  }
  .middle {
    min-height: 80px;
    span {
      display: block;
      width: 180px;
      font-size: 16px;
      text-align: right;
      line-height: 20px;
      position: absolute;
      right: 50%;
      margin-right: 20px;
      top: 50%;
      margin-top: -10px;
    }
  }
  .bottom {
    height: 60px;
    span {
      display: block;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      position: relative;
      padding-top: 60px;
      :after {
        content: '';
        height: 6px;
        width: 96px;
        position: absolute;
        background: lighten($green, 30%);
        bottom: -10px;
        left: 50%;
        margin-left: -48px;
        transition: 0.3s ease-in-out;
      }
    }
    div {
      height: 6px;
      width: 96px;
      position: absolute;
      background: lighten($green, 30%);
      top: 42px;
      left: 50%;
      margin-left: -48px;
      transition: 0.3s ease-in-out;
    }
    &:after {
      content: '';
      width: 6px;
      background: lighten($green, 30%);
      position: absolute;
      top: -43px;
      height: 90px;
      left: 50%;
      margin-left: -3px;
      transition: 0.3s ease-in-out;
    }
  }
  .space {
    margin-bottom: 30px;
    .row:not(.aanbod) + .row {
    	background: #e7ebee;
    }
    .row {
      margin: 0;
      &.aanbod {
      	background: #e7ebee;
      }
      .col {
        padding: 0;
      }
    }
    .row {
      &.active {
        &.business, &.business-en {
          .col:after,
          .top div:after,
          .bottom:after,
          .bottom div {
            background: $green;
          }
        }
        &.entertainment, &.entertainment-en {
          .col:after,
          .top div:after,
          .bottom:after,
          .bottom div {
            background: $green;
          }
        }
        &.horeca, &.eat-sleep {
          .col:after,
          .top div:after,
          .bottom:after,
          .bottom div {
            background: $green;
          }
        }
        &.shops, &.shops-en {
          .col:after,
          .top div:after,
          .bottom:after,
          .bottom div {
            background: $green;
          }
        }
        &.cultuur, &.culture {
          .bottom:after,
          .col:after,
          .top div:after,
          .bottom div {
            background: $green;
          }
        }
        &.links {
          &.business, &.business-en {
            .col.center {
              .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.entertainment, &.entertainment-en {
            .col.center {
              .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.horeca, &.eat-sleep {
            .col.center {
              .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.shops, &.shops-en {
            .col.center {
              .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.cultuur, &.culture {
            .col.center {
              .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
        }
        &.rechts {
          &.business, &.business-en {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
              &.right .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.entertainment, &.entertainment-en {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
              &.right .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.horeca, &.eat-sleep {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
              &.right .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.shops, &.shops-en {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
              &.right .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
          &.cultuur, &.culture {
            .col {
              .bar.rechts, .hbar, .vbar {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
              &.right .bar.links {
                background: $green;
                .circle {
                  border-color: $darkblue;
                  background: #fff;
                }
              }
            }
          }
        }
      }
      .block {
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 20px;
        transition: 0.3s ease-in-out;
        &.links {
          margin-left: 20px;
        }
        &.rechts {
          margin-right: 20px;
        }
      }
      
      .center {
        position: relative;
        &:after {
          content: '';
          width: 6px;
          background: lighten($green, 30%);
          position: absolute;
          top: -44px;
          bottom: 43px;
          left: 50%;
          margin-left: -3px;
          transition: 0.3s ease-in-out;
        }
        &.middle {
          &:after {
            top: -45px;
            bottom: 41px;
            margin-left: -3px;
          }
        }
      }
      .col {
        .bar {
          position: absolute;
          top: 50%;
          height: 6px;
          margin-top: -12px;
          background: lighten($green, 30%);
          transition: 0.3s ease-in-out;
          .circle {
            border: 6px solid lighten($green, 30%);
            border-radius: 100px;
            height: 26px;
            width: 26px;
            position: absolute;
            top: 50%;
            margin-top: -13px;
            background: #e6eaed;
            transition: 0.3s ease-in-out;
          }
          &.links {
            left: 30px;
            right: 50%;
            .circle {
              left: 0;
            }
          }
          &.rechts {
            left: 50%;
            right: 30px;
            .circle {
              right: 0;
            }
          }
        }
      }
      .col.right {
        .bar {
          left: 100%;
          margin-left: -12px;
          right: -40px;
        }
      }
    }
  }
}