.meta {
  position: absolute;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  width: 140px;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 38px;
    top: -30px;
    bottom: -60px;
    width: 6px;
    background: $green;
  }
}



.tease:last-of-type .meta:before,
.meta-empty:before {
	content: '';
	border: 6px solid #0a334f;
    border-radius: 100px;
    width: 34px;
    height: 34px;
    position: absolute;
    background: #0a334f;
    bottom: -70px;
    right: 24px;    
}

.mod-agenda {
  position: relative;
  .hourblock {
    margin: 60px 0;
    .meta:after {
      top: -70px;
      bottom: -70px;
    }
    &:first-child {
      .meta:after {
        top: 0;
      }
    }
  }
  .dh_no_hits {
    margin: 70px 0 50px;
    h3 {
      padding-left: 130px;
    }
    .meta:after {
      top: -70px;
      bottom: -70px;
    }
  }
  .meta {
    .hour {
      font-size: 25px;
      font-weight: bold;
      position: relative;
      margin-top: -8px;
      span {
        border: 6px solid $darkblue;
        border-radius: 100px;
        width: 34px;
        height: 34px;
        position: absolute;
        background: #fff;
        top: -8px;
        right: 24px;
      }
    }
    .caticon {
      position: absolute;
      top: 50%;
      margin-top: -26px;
      left: 20px;
      display: none;
      svg {
        width: auto;
        height: 52px;
      }
      .cls-2 {
        fill: $darkblue;
      }
    }
  }
  .tease {
    margin-bottom: 30px;
    position: relative;
    &.special {
      .card {
        background: $green;
        .bg {
          display: block;
        }
        h3 {
          color: #fff;
        }
      }
    }
    .card {
      font-size: 20px;
      line-height: 24px;
      border: 0;
      &:hover {
        cursor: pointer;
        .bg:after {
          width: 30px;
        }
      }
      .row {
        margin: 0;
      }
      .col-md-10 {
        padding: 0;
      }
      .bg {
        min-height: 234px;
        height: 100%;
        display: none;
        position: relative;
        .bgcover {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center center;
        }
        &:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          transition: 0.1s ease-in-out;
          z-index: 3;
          background: $green;
        }
      }
      .card-body {
        min-height: 180px;
        padding: 30px;
        .iconitem {
          position: relative;
          padding-left: 30px;
          min-height: 18px;
          i {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 22px;
						text-align: center;
          }
        }
      }
      .btn.btn-primary {
        color: #fff;
        &.nolink:hover {
          background: $darkblue;
          cursor:default;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .hourblock {
    .meta:after {
      bottom: -70px;
    }
    &:first-child {
      margin: 0;
    }
  }
  .meta {
    width: auto;
    &:after {
      top: 10px;
    }
  }
  .mod-agenda {
    .meta {
      .caticon {
        display: block;
      }
      .hour {
        font-size: 32px;
      }
    }
    .dh_no_hits {
      margin: 60px 0 50px;
      h3 {
        padding-left: 0px;
      }
      .meta:after {
        top: -15px;
        bottom: -60px;
      }
    }
    .tease {
      .card {
        .col-md-10:first-child {
          background: #dbdcdd;
        }
        .bg {
          min-height: auto;
          display: block;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 90px;
        right: 100px;
        height: 1px;
        background: $darkblue;
        z-index: -1;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .mod-agenda {
    .meta {
      .hour {
        font-size: 55px;
      }
      .caticon {
        left: 50px;
      }
    }
    .tease {
      .card {
        h3 {
          font-size: 30px;
          line-height: 35px;
        }
        .btn.btn-primary {
          font-size: 20px;
        }
      }
      &:after {
        left: 120px;
      }
    }
  }
}





.agenda-continuous-events{
	margin-bottom: 100px;
}

.agenda-continuous-events a{
	width: calc(50% - 10px);
	float: left;
	position: relative;
	height: 160px;
	display: block;
	padding-left: 155px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #e2e3e4;
	margin-bottom: 25px;
}



.agenda-continuous-events a:nth-child(odd){
	margin-right: 20px;
	clear: both;
}

@media only screen and (max-width: 1200px){
	.agenda-continuous-events a{
		width: 100%;
	}
	.agenda-continuous-events a:nth-child(odd){
		margin-right: 0;
	}
}



.agenda-continuous-event h3{
	font-size: 20px!important;
	margin-bottom: 10px!important;
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	overflow: hidden;
  	-webkit-box-orient: vertical;  
}

.agenda-continuous-event-meta{
	font-size: 16px;
	line-height: 25px;
}

.agenda-continuous-event-meta .iconitem i{
    width: 20px;
    text-align: center;
    margin-left: -2px;
}

.agenda-continuous-event-image{
	width: 140px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ccc;
	background-size: cover;
	background-position: center center;
}


@media only screen and (max-width: 530px) {
    .agenda-continuous-event-image {
        width: 100%;
        height: 140px;
    }
    .agenda-continuous-events a{
        padding-left: 15px;
        padding-top: 150px;
        height: 280px;
    }
}
