.followus {
  a {
    display: block;
    float: left;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    width: auto;
    margin-right: 15px !important;
    &:hover {
      color: $green;
    }
  }
}