.mod-jaren {
	background: #fff;
	padding: 0;
	z-index: 100;
	position: relative;
	&:after {
		position: absolute;
		left: -100%;
		width: 100%;
		height: 6px;
		background: $green;
		content: '';
		z-index: 1;
	}
	ul {
		width: 100%;
	}
	a {
		color: $darkblue;
		font-size: 12px;
		padding: 10px 0;
		&.active {
			background: transparent !important;
			color: $green !important;
		}
	}
	.progressbar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 6px;
		width: 0px;
		background: $green;
		transition: 0.8s ease-in;
		&:before {
			content: '';
			position: absolute;
			left: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
.mod-jaren {
	background: #fff;
	z-index: 100;
		a {
			font-size: 18px;
		}
	}
}