.mod-locaties {
  margin-bottom: 30px;
  position: relative;
  &:last-child {
    margin: 0;
    overflow: hidden;
    padding-bottom: 2px;
    .line .meta:after {
      bottom: 10px;
    }
  }
  .line {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    .row {
      height: 100%;
    }
  }
  .card {
    padding: 0;
    border: 0;
    .card-body {
      padding: 40px;
      margin: 0;
      border: 0;
      a {
        color: $darkblue;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 27px;
        &:hover {
          color: $green;
        }
      }
    }
  }
  &.winkels {
    .card {
      background: #ECF6EF;
    }
    .tease {
      .title, .time {
        background: #ECF6EF;
      }
    }
  }
  &.horeca {
    .card {
      background: #E7EBED;
    }
    .tease {
      .title, .time {
        background: #E7EBED;
      }
    }
  }
  &.cultuur {
    .card {
      background: #e7e4e4;
    }
    .tease {
      .title, .time {
        background: #e7e4e4;
      }
    }
  }
  .tease {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .title {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
    .time {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}