.menublock {
  padding: 0 80px;
  .menutaal {
    position: relative;
    &:after {
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -2px;
      height: 4px;
      background: $green;
    }
    .menu-item {
      a {
        border: 4px solid $darkblue;
        background: #fff;
        border-radius: 300px;
        span {
          display: none;
        }
      }
    }
  }
}