.moviebox {
  margin-left: -25px;
  margin-right: -25px;
  .body {
    padding: 40px 30px 0;
    background: $mediumgrey;
    .film {
      color: $darkblue;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      border-bottom: 1px solid #aaa;
			padding-bottom: 20px;
			position: relative;
			display: block;
			&:after {
				position: absolute;
				bottom: -1px;
				left: -30px;
				right: -30px;
				// border-bottom: 1px solid #ccc;
				content: '';
			}
			&:before {
				position: absolute;
				top: -20px;
				left: -30px;
				right: -30px;
				border-bottom: 1px solid #ccc;
				content: '';
			}
			&:last-child {
				border-bottom: 0;
			}
			i {
				width: 30px;
			}
      h3 a {
        color: $green;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
        margin-left: 0;
        position: relative;
         /* These are technically the same, but use both */
			  overflow-wrap: break-word;
			  word-wrap: break-word;
			  -ms-word-break: break-all;
			  /* Instead use this non-standard one: */
			  word-break: break-word;
			  /* Adds a hyphen where the word breaks, if supported (No Blink) */
			  -ms-hyphens: auto;
			  -moz-hyphens: auto;
			  -webkit-hyphens: auto;
			  hyphens: auto;
        &:hover {
          text-decoration: none;
          border: 0;
          color: $green;
          border-bottom: 2px solid $green;
        }
      }
      a {
        color: $darkblue;
        &:hover {
          text-decoration: none;
          border-bottom: 2px solid $green;
        }
      }
    }
  }
  .buttons {
    height: 40px;
    a {
      display: block;
      height: 50px;
      width: 50%;
      float: left;
      color: #fff;
      line-height: 50px;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
    .location {
      background: $darkblue;
      text-transform: uppercase;
      &:hover {
        background: darken($darkblue, 20%);
      }
    }
    .tickets {
      background: $green;
      &:hover {
        background: darken($green, 20%);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .moviebox {
    margin-right: 0;
    .body {
	    .film {
				&:after, &:before {
					left: 0;
					right: 0;
				}		    
	    }
		}
    .buttons {
      .location {
        width: calc(100% - 200px);
      }
      .tickets {
        width: 200px;
      }
    }
  }
}