.mod-rondleiding {
	.mod-pageheader {
		&.mh {
			min-height: 300px;
		}
	}
	h1 {
		margin: 30px 0;
	}
	.leadtext {
		color: $green;
		font-weight: 400;
		font-size: 22px;
		line-height: 28px;
	}
	.image {
		width: 100%;
		height: auto;
	}
}

@include media-breakpoint-up(lg) {
	.mod-rondleiding {
		.leadtext {
			font-size: 35px;
			line-height: 40px;
		}
	}
}

.rondleidingen-title{
    /* min 35px or based on viewport width */
    font-size:calc(35px + 1vw);
}

.rondleidingen-image-big{
    background-size: cover;
    background-position: center center;
    height: 40vw;
    min-height: 300px;
    max-height: calc(100vh - 280px);
}