<section class="mod-events bgbluebar pagebuilder">
	<div class="container">
	  <div class="clearfix"></div>
	  <div class="row">
	    <div class="col-md-18 offset-md-1">
        <div class="cards js-slick-events">
          {% for image in item.fotos %}  
            <div class="card-wrapper">
              <a href="{{ TimberImage(image) }}" data-lity>
                <div class="card-img-top">
                  <img class="img-fluid" src="{{ TimberImage(image) }}" alt="image">
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
	</div>
</section>