body {
  font-family: "AvantGardeGothicITC";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $darkblue;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  &.page-template-page-blanco {
		padding: 0;
	}
}

.capitalizefirstletter {
	
}
.capitalizefirstletter:first-letter {
    text-transform: uppercase;
}

textarea:focus,
input:focus,
*:focus {
  outline: none;
}

h1,h2,h3,h4,h5,h6,h7 {
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 1px;
}

h1 {
  font-size: 46px;
  font-weight: 600;
  &.green {
    color: $green;
    &:hover {
      color: $darkblue;
    }
  }
}

.error404 h1 {
  color: #fff;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
a {
  h1 {
    color: $darkblue;
  }
  &:hover {
    h1 {
      color: $green;
    }
  }
}
ul {
  padding-left: 20px;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkblue;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $darkblue;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: $darkblue;
}

.condensed {
  font-family: 'ITCAvantGardeStd' !important;
  text-transform: uppercase;
}

.badge {
  background: $yellow;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 999px;
  display: inline-block;
  padding: 2px 4px;
}
.container {
  padding: 0 25px;
}


@include media-breakpoint-up(md) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 80px;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 55px;
    margin-bottom: 40px;
  }
}

@include media-breakpoint-up(xl) {

}