body .btn:focus, body .btn:active, body .btn:target, body .btn:not(:disabled):not(.disabled):active, body .field-wrap input[type=button]:focus, body .field-wrap input[type=button]:active, body .field-wrap input[type=button]:target, body .field-wrap input[type=button]:not(:disabled):not(.disabled):active {
  opacity: 1;
}
.btn-link, a[href] {
  color: $green;
  &:hover {
    color: darken($green, 20%);
    text-decoration: none;
  }
  &:focus, &:active, &:target {
    color: darken($green, 20%);
    text-decoration: none;
  }
}
.btn, .btn[href], .field-wrap input[type=button] {
  color: #fff;
  border-radius: 0;
  font-size: 20px;
  height: 54px;
  line-height: 56px;
  font-weight: bold;
  border: 0;
  padding: 0 25px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,.3);
  &:hover {
    color: #fff;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
    border: 0;
  }
  &:focus, &:active, &:target, &:not(:disabled):not(.disabled):active {
    color: #fff;
    opacity: 1;
    border: 0;
  }
}
.btn.btn-sm {
  font-size: 16px;
  height: 36px;
  line-height: 38px;
  font-weight: bold;
  border: 0;
  padding: 0 15px;
}
.btn-outline-light, .btn-outline-light[href] {
  border: 2px solid #fff;
  height: 44px;
  line-height: 44px;
  color: #fff;
  &:hover {
    color: $green;
    border: 2px solid #fff;
    background: #fff;
  }
  &:focus, &:active, &:target, &:not(:disabled):not(.disabled):active {
    color: $green;
    border: 2px solid #fff;
    background: #fff;
  }
}
.btn-primary, .btn-primary[href] {
  background: $darkblue;
  color: #fff;
  &:hover {
    color: #fff;
    background: #061e28;
  }
  &:focus, &:active, &:target, &:not(:disabled):not(.disabled):active {
    color: #fff;
    background: darken($darkblue, 30%);
  }
}
.btn-secondary, .btn-secondary[href], .field-wrap input[type=button] {
  background: $green;
  color: #fff;
  &:hover {
    background: darken($green, 20%);
    color: #fff;
  }
  &:focus, &:active, &:target, &:not(:disabled):not(.disabled):active {
    background: darken($green, 30%);
    color: #fff;
  }
}