#carouselBeadManRedding {
    background-color: #000;
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 0.5s;
    left: 0;
    top: 0;
    position: absolute;
    z-index:0;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
    z-index:1;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 0.5s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 0.5s;
}
.carousel-item .img-fluid {
    margin: 0 auto;
}
.carousel img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  z-index: 2;
  img {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 23px;
    height: 71px;
  }
}