// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                20;
$grid-gutter-width:           30px !default;

// Colors

$lightblue: #B6DBEF;
$darkblue: #0a334f;
$lightgreen: #c8e5d0;
$green: #46aa64;
$darkgreen: #2C9638;
$mediumgrey: #e6e7e8;
$grey: #d1d3d4;

// Old colors

$red: #BF2A2A;
$background: #fff;
$darkgrey: #555;
$oranje: #FF6345;
$yellow: #FDCF42;
$lightyellow: #F2DE79;
$purple: #7164F5;
$lightgrey: #F8F8F8;